{# Page permettant l'ajout de lien #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter Lien{% endblock %}


{% block glwebsiteadmin_body %}
    <section class="well">
    <h1 class="text-center">Ajout de liens</h1>
    {{ include("GLWebsiteAdminBundle:Link:form.html.twig") }}
    </section>
{% endblock %}
