{# Page servant à écrire les articles #}
{% extends "GLWebsiteAdminBundle:Article:articleLayout.html.twig" %}

{% block title %}{{ parent() }} - Editer{% endblock %}


{% block glwebsiteadmin_body %}
    <section class="well">
    {{ include("GLWebsiteAdminBundle:Article:form.html.twig") }}
    </section>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/summernoteArticle.js') }}"></script>
{% endblock %}
