{# Page listant les articles et proposant l'action adéquate à effectué en fonction du paramêtre de requête #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Articles{% endblock %}

{% block glwebsiteadmin_body %}
    <section class="well">

        {% if action == 'edit' %}
            <h2 class="text-center">Modification articles</h2>
        {% elseif action == 'remove' %}
            <h2 class="text-center">Suppression articles</h2>
        {% elseif action == 'validate' %}
            <h2 class="text-center">Articles en attente de validation</h2>
        {% else %}
        {% endif %}
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Titre</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Sous catégorie</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >1</td>
                    <td>18/12/2017</td>
                    <td>Un grand maitre au club</td>
                    <td>Vie du club</td>
                    <td>Actualité</td>
                    {% if action == 'edit' %}
                        <td><button class="btn btn-warning">Modifier</button></td>
                    {% elseif action == 'remove' %}
                        <td><button class="btn btn-danger">Supprimer</button></td>
                    {% elseif action == 'validate' %}
                        <td><button class="btn btn-success">Valider</button></td> 
                    {% else %}
                    {% endif %}       
                </tr>

            </tbody>
        </table>
    </section>
{% endblock %}