{# Page listant les articles et proposant l'action adéquate à effectué en fonction du paramêtre de requête #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Articles{% endblock %}

{% block glwebsiteadmin_body %}
    <section class="well">

        {{ include("GLWebsiteAdminBundle:Article:table.html.twig") }}
        
    </section>
{% endblock %}