{# Page servant à écrire les articles #}
{% extends "GLWebsiteAdminBundle:Article:articleLayout.html.twig" %}

{% block title %}{{ parent() }} - Rédiger{% endblock %}


{% block glwebsiteadmin_body %}
    <section class="well">
        <h1 class="text-center">Rédiger Articles</h1>
    {{ include("GLWebsiteAdminBundle:Article:form.html.twig") }}
    </section>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/summernoteArticle.js') }}"></script>
{% endblock %}