{# Page d'accueil de l'administration du site web #}
{% extends "GLWebsiteAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block glwebsiteadmin_body %}
    <section class="well">
        <h2 class="text-center">Inscrit en attente de validation</h2>
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Date d'inscription</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >1</td>
                    <td>Dupond</td>
                    <td>Paul</td>
                    <td>18/12/2017</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>Dupond</td>
                    <td>Paul</td>
                    <td>18/12/2017</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>Dupond</td>
                    <td>Paul</td>
                    <td>18/12/2017</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>Dupond</td>
                    <td>Paul</td>
                    <td>18/12/2017</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>Dupond</td>
                    <td>Paul</td>
                    <td>18/12/2017</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="well">
        <h2 class="text-center">Article en attente de validation</h2>
        <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Titre</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Sous catégorie</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >1</td>
                    <td>18/12/2017</td>
                    <td>Un grand maitre au club</td>
                    <td>Vie du club</td>
                    <td>Actualité</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>18/12/2017</td>
                    <td>Un grand maitre au club</td>
                    <td>Vie du club</td>
                    <td>Actualité</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>18/12/2017</td>
                    <td>Un grand maitre au club</td>
                    <td>Vie du club</td>
                    <td>Actualité</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>18/12/2017</td>
                    <td>Un grand maitre au club</td>
                    <td>Vie du club</td>
                    <td>Actualité</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
                <tr>
                    <td >1</td>
                    <td>18/12/2017</td>
                    <td>Un grand maitre au club</td>
                    <td>Vie du club</td>
                    <td>Actualité</td>
                    <td><button class="btn btn-info">Voir</button></td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
