{% extends "CoreBundle:Chess:layout.html.twig" %}

{% block title %}{{ parent() }} - Zone jeu en différé{% endblock %}

{% block chess_game %}
    <h3 class="text-center">Parties en cours</h3>
    
    <table class="table table-bordered table-striped text-center table-admin ">
            <thead>
                <tr>
                    <th class="text-center">Numéro Partie</th>
                    <th class="text-center">Joueur Blanc</th>
                    <th class="text-center">Joueur Noir</th>
                    <th class="text-center">Nombre de coup</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>Action</td>
                </tr>
                

            </tbody>
    </table>
{% endblock %}
